#fixed {
    position: fixed;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: #b1ec43;
    text-align: center;
    line-height: 40px;
    font-size: 21px;
    color: white;
    top: 0px;

}

#text {
    width: 1200px;
    margin: 10px auto 100px auto;
    padding: 50px;
    border: 1px solid #b1ec43;

}