body{
    color: #093;
    font-size: 14px;
    font-family: Arial;
}
p{
    letter-spacing: 10px;
}
.kursiv{
    font-size: italic;
    text-decoration: underline;
}
.bombom{
    font-family: "Comic Sans";
    font-size: 25pt;
    text-indent: 50px;
}
.rich{
    font-family: Arial;
    font-size: 15pt;
    font-weight: 1000;
    font-style: italic;
    line-height: 25pt;
}
.perenos{
    white-space: nowrap;

}
.red{
    color:red;
    text-transform: uppercase;


}
.bimbim{
    font-family: Courier;
    font-size: 12pt;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 200%;
    text-indent: 2%;
    line-height: 200%;



}

.sc{
    font-family:"Times New Roman";
    font-size: 14px;
    word-spacing: 2px;
    letter-spacing: 25px;


}
.beans{
    white-space: nowrap;
    color: brown;
    text-transform: lowercase;

}
.link{
    color: blueviolet;
    font-family: Verdana;
    background-color: rgb(249, 219,211);


}