body{
    color: #093;
    font-size: 14px;
    font-family: Arial;
}
p{
    letter-spacing: 10px;
}
.kursiv{
    font-size: italic;
    text-decoration: underline;
}
.bombom{
    font-family: Comic Sans;
    font-size: 25pt;
    text-indent: 50px;
}
.rich{
    font-family: Arial;
    font-size: 15pt;
    font-weight: 1000;
    font-style: italic;
    line-height: 25pt;
}
.perenos{
    white-space: 1;

}
.red{
    color:red;
    text-transform: uppercase;


}
.bimbim{
    font-family: Courier;
    font-size: 12pt;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 200%;
    text-indent: 10;

}